.reference {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.reference-vector {
    z-index: -1;
    position: absolute;
    top: 128rem;
    left: 0;
}

.reference-building {
    width: 100%;
}

.reference-description {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: var(--cinza);
}

/* 760px */

@media (min-width: 760px){
    .reference-vector{
        top: 138rem;
    }

    .main-title {
        margin: 0 auto;
        text-align: center;
    }
}

/* 1024px */
@media (min-width: 1024px){
    .reference {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 10rem;
    }

    .reference_img{
        position: relative;
    }

    .reference-vector {
        top: -35px;
        left: -50px;
    }

    .reference-building {
        width: 487px;
        height: 360px;
    }
    
    .reference_title {
        width: 526px;
        text-align: start;
        font-size: 33px;
        line-height: 46px;
    }

    .reference-description {
        width: 526px;
        height: 162px;
        line-height: 27px;
        font-size: 1rem;
    }

    .reference_text {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
}