.team {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.team-title {
    font-size: 27px;
    font-weight: 700;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

.team-span {
    font-size: 12px;
    color: var(--cinza);
    text-align: center;
    font-family: 'Lexend', sans-serif;
}

.team-wrap {
    margin-top: 2rem;
}

.team-img{
    width: 100%;
}

/* 1024px */

@media (min-width: 1024px){

    .team-title {
        font-size: 33px;
    }

    .team-span {
        font-size: 14px;
    }

    .team-wrap {
        display: flex;
        justify-content: center;
    }

    .team-img {
        width: 60%;
    }
}