@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap');

@import url(/components/config/reset.css);
@import url(header.css);
@import url(intro.css);
@import url(cards.css);
@import url(reference.css);
@import url(service.css);
@import url(team.css);
@import url(contact.css);
@import url(social.css);

.container {
    padding: 25px 25px;
}

:root {
    --preto: #000;
    --branco: #fff;
    --azul: #2B9CED;
    --cinza: #536379;
}

[data-theme="dark"]{
    
    --bg-dark: #1A1A1A;
    --bg-light: #FFFFFF;
}

body {
    background-color: var(--bg-light);
}