.card {
    width: 323px;
    height: 346px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-icon {
    width: 70px;
}

.main-title {
    font-size: 19px;
    font-weight: 700;
    font-family: 'Lexend', sans-serif;
    width: 300px;
    line-height: 30px;
}

.main-description {
    font-family: 'Lexend', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: var(--cinza);
}

/* 760px */

@media (min-width: 760px){
    .card {
        padding: 1rem 2rem;
        background-color: rgba(43, 156, 237, 0.3);
        border-radius: 6px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

/* 1024px */
@media (min-width: 1024px){
    .cards {
        flex-direction: row;
        margin-top: 47px;
    }

    .card {
        width: 342px;
        height: 346px;
        background-color: transparent;
    }

    .main-description {
        color: #536379;
        line-height: 22px;
    }

    .main-title {
        margin: 0 !important;
        display: flex;
        text-align: start;
    }
}